body{
    background-image: url("./desert1.jpeg");
    background-size: cover;
    background-repeat: repeat;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: right;
}

li a{
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
    padding: 30px;
}

* {
    box-sizing: border-box;
}
/* pre-defined classes */

[class*="col-"] {
    float: left;
}

.col-6 {
    width: 50%;
}

@media only screen and (max-width: 856px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

#logo {
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

/* .right>div {
    border: 2px solid black;
} */

.left {
    padding: 60px;
}

/* .right {
    border: 2px solid black;
} */

#sahara {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 14px;
    color: white;
}

.button {
    width: 40%;
    padding: 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}

.ff1{
    background-image: url(./western.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 180px;
    margin: 25px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    text-align: center;
}

.ff2{
    background-image: url(./albagawat.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 180px;
    margin: 25px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    text-align: center;
}

.ff3{
    background-image: url(./giza.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 180px;
    margin: 25px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    text-align: center;
}

.ff4{
    background-image: url(./kalahari.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 180px;
    margin: 25px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    text-align: center;
}

.ff1:hover,.ff2:hover,.ff3:hover,.ff4:hover{
    transform: translate(0,-10px);
}

@media only screen and (max-width:1216px){
    .ff1,.ff2,.ff3,.ff4{
        width: 200px;
    }
}

@media only screen and (max-width:1024px){
    .ff1,.ff2,.ff3,.ff4{
        width: 200px;
    }
}

@media only screen and (max-width:1016px){
    .ff1,.ff2,.ff3,.ff4{
        width: 150px;
    }
}

@media only screen and (max-width:856px){
    .ff1,.ff2,.ff3,.ff4{
        margin-left: 180px;
        width: 400px;
    }
}

@media only screen and (max-width:768px){
    .ff1,.ff2,.ff3,.ff4{
        margin-left: 150px;
        width: 400px;
    }
}

@media only screen and (max-width:600px){
    .ff1,.ff2,.ff3,.ff4{
        width: 200px;
        margin-left: 100px;
    }
}